extends layout

block title
    title WU / Login

block scripts
    script(src='/js/login.js')

block content
    .container
        h1 WU
        p Fast, secure, and easy way to enjoy all the main features of the Virtual University UITM.
        if error
            div(role="alert").alert.alert-danger
                strong= error
                p Check your id and password
        form(action='' method='post')
            .input-group.input-group-lg
                span.input-group-addon w
                input(type='text' placeholder='*****' name='login').form-control
            br
            .form-group
                input(type='password' placeholder='password' name='password').form-control
                br
                input(type='submit' value='Login').btn.btn-primary.btn-lg